<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>tiddeR</title>
		<link rel="stylesheet" type="text/css" href="style.css" />
	</head>
	<body>
		<div id="top" class="center">
			<div id="header" class="block side">
				<h1 id="title">tiddeR</h1>
			</div>
			<div id="search" class="block main">
				<form action="index.php">
					<input type="text" name="search" value="post:435442342"/>
				</form>
			</div>
			<div id="user" class="block side disapear">
				<a href="#">Ak:kes <i class="fa fa-user"></i></a>
			</div>
		</div>
		<div class="center">
			<div id="sidebar" class="block side">
				<div class="sidebar-element">
					<ul>
						<li>
							<a href="#">Popular</a>
						</li>
						<li>
							<a href="#" class="selected">Recents</a>
						</li>
						<li>
							<a href="#">Best</a>
						</li>
						<li>
							<a href="#">Controversé</a>
						</li>
					</ul>
				</div>
				<div class="sidebar-element">
					<ul>
						<li>
							<a href="#" class="selected">HTML</a>
						</li>
						<li>
							<a href="#">CSS</a>
						</li>
						<li>
							<a href="#" class="selected">PHP</a>
						</li>
						<li>
							<a href="#">SCSS</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="content" class="block main">
				<div class="post">
					<h2 class="block three-quarter title">Tuna Ipsum</h2>
					<p class="block quarter disapear date">26 Avril 2015</p>
					<p>European minnow priapumfish mosshead warbonnet shrimpfish bigscale. Cutlassfish porbeagle shark ricefish walking catfish.</p>
					<div class="disapear">
						<ul class="block third tags">
							<li><a href="#">HTML</a></li>
							<li><a href="#">PHP</a></li>
						</ul>
						<p class="block third author">Uinelj</p>
						<ul class="block third rating">
							<li class="block"><a href="action.php?a=vote&amp;v=1" class="fa fa-star"></a></li>
							<li class="block"><a href="action.php?a=vote&amp;v=1" class="fa fa-star"></a></li>
							<li class="block"><a href="action.php?a=vote&amp;v=1" class="fa fa-star-o"></a></li>
							<li class="block"><a href="action.php?a=vote&amp;v=1" class="fa fa-star-o"></a></li>
							<li class="block"><a href="action.php?a=vote&amp;v=1" class="fa fa-star-o"></a></li>
						</ul>
					</div>
				</div>
				<div id="comments">
					<ul>
						<li class="comment">
							<h3 class="block half">Ak:kes</h3>
							<span class="block half date disapear">26 Avril 2015</span>
							<p>Nan mais c'est de la merde!</p>
						</li>
						<li class="comment">
							<h3 class="block half">Nyan Cat</h3>
							<span class="block half date disapear">26 Avril 2015</span>
							<p>Nyan nyan nyan nyan nyan nyan nyan nyan nyan nyan nyan nyan nyan nyan nyan nyan</p>
						</li>
						<li class="comment">
							<h3 class="block half">Uinelj</h3>
							<span class="block half date disapear">26 Avril 2015</span>
							<p>GO CS:GO NOOB</p>
						</li>
						<li class="comment">
							<h3 class="block half">Arya</h3>
							<span class="block half date disapear">26 Avril 2015</span>
							<p>Chicha Chicha Chicha Cul Chicha Chicha Zouz Chicha Chicha Chicha</p>
						</li>
						<li class="comment">
							<h3 class="block half">Dieu</h3>
							<span class="block half date disapear">26 Avril 2015</span>
							<p>Le paradis ?! Vous êtes incapables d’être heureux plus de trois minutes d’affilée. Je veux pas de vous chez moi. Vous niquez l’ambiance.</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="footer" class="center">
			<div class="block side">
				<p><a href="#top"><i class="fa fa-angle-double-up"></i>Top</a></p>
			</div>
			<div class="block main">
				<p>Created by <a href="http://uinelj.eu">Uinelj</a> &amp; <a href="http://akkes.fr">Ak:kes</a></p>
			</div>
		</div>
	</body>
</html>