<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>tiddeR</title>
		<link rel="stylesheet" type="text/css" href="style.css" />
	</head>
	<body>
		<div id="top" class="center">
			<div id="header" class="side">
				<h1 id="title">tiddeR</h1>
			</div>
			<div id="search" class="main">
				<form action="index.php">
					<input type="text" name="search" value="* by recent"/>
				</form>
			</div>
		</div>
		<div class="center">
			<div id="sidebar" class="side">
				<div class="sidebar-element">
					<ul>
						<li>
							<a href="#">Yolkfsdljfo</a>
						</li>
						<li>
							<a href="#" class="selected">Yolo sdfsd</a>
						</li>
						<li>
							<a href="#">Yolsdf jskfo</a>
						</li>
						<li>
							<a href="#">Yoqskjs lo</a>
						</li>
					</ul>
				</div>
				<div class="sidebar-element">
					<ul>
						<li>
							<a href="#">Yolkfsdljfo</a>
						</li>
						<li>
							<a href="#" class="selected">Yolo sdfsd</a>
						</li>
						<li>
							<a href="#">Yolsdf jskfo</a>
						</li>
						<li>
							<a href="#">Yoqskjs lo</a>
						</li>
					</ul>
				</div>
				<div class="sidebar-element">
					<ul>
						<li>
							<a href="#">Yolkfsdljfo</a>
						</li>
						<li>
							<a href="#" class="selected">Yolo sdfsd</a>
						</li>
						<li>
							<a href="#">Yolsdf jskfo</a>
						</li>
						<li>
							<a href="#">Yoqskjs lo</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="content" class="main">
				<ul>
					<li class="post">
						<h2>Tuna Ipsum</h2>
						<p>European minnow priapumfish mosshead warbonnet shrimpfish bigscale. Cutlassfish porbeagle shark ricefish walking catfish.</p>
						<ul class="tags">
							<li><a href="#">HTML</a></li>
							<li><a href="#">PHP</a></li>
						</ul>
						<ul class="rating">
							<li class="fa fa-star"></li>
							<li class="fa fa-star"></li>
							<li class="fa fa-star-o"></li>
							<li class="fa fa-star-o"></li>
							<li class="fa fa-star-o"></li>
						</ul>
					</li>
					<li class="post">
						<h2>Corporate Ipsum</h2>
						<p>Efficiently unleash cross-media information without «cross-media» value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar.</p>
						<ul class="tags">
							<li><a href="#">CSS</a></li>
							<li><a href="#">SCSS</a></li>
						</ul>
						<ul class="rating">
							<li class="fa fa-star"></li>
							<li class="fa fa-star-o"></li>
							<li class="fa fa-star-o"></li>
							<li class="fa fa-star-o"></li>
							<li class="fa fa-star-o"></li>
						</ul>
					</li>
					<li class="post">
						<h2>«Tina Belcher» Ipsum</h2>
						<p>Here's a bunch of numbers. They may look random but they're my phone number. I'm no hero. I just put my bra on one boob at a time. She grabbed Jimmy Jr's butt and changed the world.</p>
						<ul class="tags">
							<li><a href="#">PHP</a></li>
						</ul>
						<ul class="rating">
							<li class="fa fa-star"></li>
							<li class="fa fa-star"></li>
							<li class="fa fa-star"></li>
							<li class="fa fa-star-o"></li>
							<li class="fa fa-star-o"></li>
						</ul>
					</li>
					<li class="post">
						<h2>Cat Ipsum — éèçàöü&amp;ïôûî</h2>
						<p>Climb leg rub face on everything give attitude nap all day for under the bed. Chase mice attack feet but rub face on everything hopped up on goofballs. &amp; éèçàöüïôûî</p>
						<ul class="tags">
							<li><a href="#">HTML</a></li>
							<li><a href="#">CSS</a></li>
							<li><a href="#">PHP</a></li>
							<li><a href="#">SCSS</a></li>
						</ul>
						<ul class="rating">
							<li class="fa fa-star"></li>
							<li class="fa fa-star"></li>
							<li class="fa fa-star"></li>
							<li class="fa fa-star"></li>
							<li class="fa fa-star"></li>
						</ul>
					</li>
					<li class="post">
						<h2>Tuna Ipsum</h2>
						<p>European minnow priapumfish mosshead warbonnet shrimpfish bigscale. Cutlassfish porbeagle shark ricefish walking catfish.</p>
						<ul class="tags">
							<li><a href="#">HTML</a></li>
							<li><a href="#">PHP</a></li>
						</ul>
						<ul class="rating">
							<li class="fa fa-star"></li>
							<li class="fa fa-star"></li>
							<li class="fa fa-star-o"></li>
							<li class="fa fa-star-o"></li>
							<li class="fa fa-star-o"></li>
						</ul>
					</li>
					<li class="post">
						<h2>Corporate Ipsum</h2>
						<p>Efficiently unleash cross-media information without «cross-media» value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar.</p>
						<ul class="tags">
							<li><a href="#">CSS</a></li>
							<li><a href="#">SCSS</a></li>
						</ul>
						<ul class="rating">
							<li class="fa fa-star"></li>
							<li class="fa fa-star-o"></li>
							<li class="fa fa-star-o"></li>
							<li class="fa fa-star-o"></li>
							<li class="fa fa-star-o"></li>
						</ul>
					</li>
					<li class="post">
						<h2>«Tina Belcher» Ipsum</h2>
						<p>Here's a bunch of numbers. They may look random but they're my phone number. I'm no hero. I just put my bra on one boob at a time. She grabbed Jimmy Jr's butt and changed the world.</p>
						<ul class="tags">
							<li><a href="#">PHP</a></li>
						</ul>
						<ul class="rating">
							<li class="fa fa-star"></li>
							<li class="fa fa-star"></li>
							<li class="fa fa-star"></li>
							<li class="fa fa-star-o"></li>
							<li class="fa fa-star-o"></li>
						</ul>
					</li>
					<li class="post">
						<h2>Cat Ipsum — éèçàöü&amp;ïôûî</h2>
						<p>Climb leg rub face on everything give attitude nap all day for under the bed. Chase mice attack feet but rub face on everything hopped up on goofballs. &amp; éèçàöüïôûî</p>
						<ul class="tags">
							<li><a href="#">HTML</a></li>
							<li><a href="#">CSS</a></li>
							<li><a href="#">PHP</a></li>
							<li><a href="#">SCSS</a></li>
						</ul>
						<ul class="rating">
							<li class="fa fa-star"></li>
							<li class="fa fa-star"></li>
							<li class="fa fa-star"></li>
							<li class="fa fa-star"></li>
							<li class="fa fa-star"></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div id="footer" class="center">
			<div class="side">
				<p><a href="#top">^Top</a></p>
			</div>
			<div class="main">
				<p>Created by <a href="http://uinelj.eu">Uinelj</a> &amp; <a href="http://akkes.fr">Ak:kes</a></p>
			</div>
		</div>
	</body>
</html>